:root{
      
}
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  
}
body{
  width: 100vw;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
 min-width: 400px;
 width: 100%;
 

 /* padding: 60rem 1.6rem; */
}
.container > *{
  margin: auto;

 }
.main-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: auto;
  background-color: hsl(213, 19%, 18%);
  max-width: 400px;
  padding: 2.2rem;
  margin-top: 1rem;
  
}
.main-star{
align-self: flex-start;
background-color:hsl(213, 19%, 25%);
height: 40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100%;
}
#main-title{
  font-weight: 700;
  margin: 17px 0 10px;
  
}
#main-paragraph{
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  line-height: 1.3rem;
}
#main-ratting{
  
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
.btn-ratting{
  background-color: hsl(213, 19%, 25%);
  border: none;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  font-weight: 700;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  transition: 0.4s;

}
.btn-ratting:hover{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.selected{
  background-color:hsl(216, 12%, 54%);
}


#btn-submit{
  margin-top: 2rem;
  border: none;
  width: 100%;
  height: 3.2rem;
  border-radius: 30rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  font-weight: 700;
  font-size: 16px;
  transition: 0.4s;


}
#btn-submit:hover{
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);

}
/* mobile first */
@media ( min-width: 375px ){
  body {

  }
  .main-card{
    /* width: 360px;
    width: 320px; */
  }
}

@media ( min-width: 1440px ) {
  body {
  }
}